body {
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  font-style: "Arial", sans-serif;
}

h1 {
    font-style: "Times New Roman", sans-serif;
    font-size: 28px;
    color: limegreen;
}  

h2 {
    font-style: "Times New Roman", sans-serif;
    font-size: 22px;
    color: limegreen;
}

blockquote, q {
    font-style: italic;
    margin-left: 60px;
}

img {
    border: 8px solid limegreen;
    size: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#voce-sabia {
    border: 3px solid limegreen;
    padding: 10px;
    background-image: url("../imagens/fundo.png");
}